<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../css/astyles.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

    </head>
    <body>
        <header class="nav-header">
            <nav>
                <h2><a href="../html/index.html">VertexU</a></h2>
                <div class="nav-links" id="nav-links">
                    <i class="fa fa-times" onclick="hideMenu()"></i>
                    <ul>
                        <li><a href="../html/index.html">Home</a></li>
                        <li><a href="../html/about.html">About</a></li>
                        <li><a href="../html/services.html">Services</a></li>
                        <li><a href="../html/faculty.html">Faculty</a></li>
                        <li><a href="../html/course.html">Courses</a></li>
                        <li><a href="../html/article.html">Articles</a></li>
                        <li><a href="../html/contact.html">Contact</a></li>
                        <li><a href="../html/calendar.html">Calendar</a></li>
                        <li><a href="../html/login.html">Login</a></li>
                    </ul>
                </div>
                
                <i class="fa fa-bars" onclick="showMenu()"></i>
            </nav>
        </header>
        <script src="../js/script.js"></script>
    </body>
</html>
